<template>
  <q-page class="flex flex-center"> 
    <FullCalendar 
    defaultView="dayGridMonth" 
    :plugins="calendarPlugins" 
    :weekends="calendarWeekends"
    :weekNumbers ="calendarWeekends"
    :locale="locale"
    ref="fullCalendar" 
    :header="{
        left: '',
        center: 'title',
        right: ''
      }"
      :events="calendarEvents"
      @dateClick="handleDateClick"
      
    />
    <q-modal v-model="coincidencia" v-if="coincidencia == true">
      <h4>coincidencia, una ruta asignada para ese dia</h4>
      
    </q-modal> 
    <q-modal v-model="nohayruta" v-if=" nohayruta== true">
      <h4>no ruta, asigna una ruta</h4>
     
    </q-modal>
  </q-page>
</template>

<style lang="scss" scoped>

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


</style>

<script>
import esLocale from "@fullcalendar/core/locales/es";
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'

export default {
  name: 'PageIndex',
  components: {
    FullCalendar
  },
  data(){
    return {
      locale:esLocale,
      coincidencia: false,
      nohayruta: false,
      calendarPlugins: [ 
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin
        ],
      calendarWeekends: true,
      calendarEvents:[]
    }
  },
  methods: {
    handleDateClick(arg) {
      let diaActual = arg.dateStr
      console.log(arg.dateStr)
      let eventosMensuales = this.calendarEvents.filter(item => item.start == arg.dateStr)
      console.log(eventosMensuales)
      if(eventosMensuales.length == 0){
        this.nohayruta = true;
        console.log('vacio, no coincidencia, no ruta')
      }else if (eventosMensuales.length !== 0){
        this.coincidencia = true;
        console.log('ruta asignada para ese dia')
      }
    },
    eventosList(){
      this.$axios
        .post('/trip',{
          nickname:"ATUYA",
          month:"4",
          year:"2019"
        })
        .then(response => {
          this.calendarEvents = response.data
          console.log(response)
        })
        .catch(err => {
          console.log(err)
        })
    }

  },
  mounted() {
    this.eventosList()
  },
}

</script>


